{% if not bug.done %}
    <span style="z-index: 2">
    {% if bug.assignee %}
        <span class="badge bg-success">{{ 'Traité par : '~bug.assignee }}</span>
    {% else %}
        {% if is_granted('ROLE_TECH_TEAM') %}
            <a
                    class="btn btn-sm btn-outline-info"
                    href="{{ path('bug_report_take_over', { 'id': bug.id }) }}"
                    {{ stimulus_controller('loading') }}
                    {{ stimulus_action('loading', 'startLoading') }}
                    {{ stimulus_target('loading', 'element') }}
            >
                    Prendre en charge
                </a>
            {% else %}
            <span class="badge badge-warning">
                {{ 'En attente d\'assignation' }}
            </span>
        {% endif %}
    {% endif %}
        </span>
{% endif %}
