<div class="col-12 my-2 rounded position-relative shadow-lg btn btn-outline-light text-dark"
     xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-1 d-flex justify-content-center align-items-center">
            {{ app_icon(bug_report.application) }}
        </div>
        <div class="col-11">
            <p class="text-start">
                <span class="h5">{{ bug_report.title }}</span>
                {% if bug_report.done %}
                    <span class="float-end badge text-success border border-success p-2">{{ 'Résolu' }}</span>
                {% else %}
                    <span class="float-end badge text-warning border border-warning p-2">{{ 'En cours' }}</span>
                    {% if is_granted('ROLE_TECH_TEAM') %}
                        <a
                                href="{{ path('bug_report_mark_done', {'id': bug_report.id}) }}"
                                class="btn btn-success position-absolute" style="left: 100%; top: 0"><i
                                    class="fa fa-check"></i></a>
                    {% endif %}
                {% endif %}
            </p>
            <div class="d-flex pt-1 align-items-start">
                <div>
                    <span class="fw-bolder text-decoration-underline">Remonté par :</span>
                </div>
                <div class="flex-grow-1 text-start ps-3">
                    <small>{{ bug_report.user.userIdentifier }}</small>
                    <br/>
                    <small>Le {{ bug_report.createdAt|date("d/m/Y") }}
                        à {{ bug_report.createdAt|date("H:i") }}</small>
                </div>
                {{ include('bug_report/_assignee_section.html.twig', {'bug': bug_report}) }}
            </div>
        </div>
        <a href="{{ path('bug_report_show', {'id': bug_report.id}) }}" class="stretched-link"></a>
    </div>
</div>
