{% extends 'base.html.twig' %}

{% block title %}BugReport{% endblock %}

{% block body %}
    <div class="position-relative">
        {{ include('bug_report/_back_to_list_button.html.twig') }}
        <a
                class="btn btn-sm btn-outline-info"
                style="z-index: 2; right: 1em; bottom: 1em"
                href="{{ path('bug_report_take_over', { 'id': bug_report.id }) }}"
        >
            Prendre en charge
        </a>
        <h1>{{ bug_report.title }}</h1>
        <table class="table">
            <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ bug_report.title }}</td>
            </tr>
            <tr>
                <th>Informations</th>
                <td>{{ bug_report.content|raw }}</td>
            </tr>
            <tr>
                <th>Remonté par</th>
                <td>{{ bug_report.user }}</td>
            </tr>
            <tr>
                <th>Personne en charge</th>
                <td>{{ bug_report.assignee }}</td>
            </tr>
            <tr>
                <th>Application</th>
                <td>{{ bug_report.application }}</td>
            </tr>
            <tr>
                <th>Type d'utilsateur</th>
                <td>{{ bug_report.userKind }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ include('bug_report/_status.html.twig', {'bug': bug_report}) }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ bug_report.createdAt ? bug_report.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
        {% if bug_report.attachementName %}
            <div class="row">
                <img class="img-fluid" src="{{ asset('uploads/'~bug_report.attachementName) }}" alt="Attachment"/>
            </div>
        {% endif %}
        <div class="row">
            {% if is_granted('ROLE_TECH_TEAM') %}
                <div class="col">
                    <a class="btn btn-warning" href="{{ path('bug_report_edit', {'id': bug_report.id}) }}"><i
                                class="fas fa-pencil-alt"></i></a>
                </div>
            {% endif %}
            <div class="col">
                {{ include('bug_report/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
