{% extends 'base.html.twig' %}

{% block title %}BugReport{% endblock %}

{% block body %}
    {{ include('bug_report/_back_to_list_button.html.twig') }}
    <h1>{{ bug_report.title }}</h1>
    <table class="table">
        <tbody>
        <tr>
            <th>Titre</th>
            <td>{{ bug_report.title }}</td>
        </tr>
        <tr>
            <th>Informations</th>
            <td>{{ bug_report.content|raw }}</td>
        </tr>
        <tr>
            <th>Date de création</th>
            <td>{{ bug_report.createdAt ? bug_report.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Date de dernière mise à jour</th>
            <td>{{ bug_report.updatedAt ? bug_report.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        {% if is_granted('ROLE_TECH_TEAM') %}
            <div class="col">
                <a class="btn btn-warning" href="{{ path('bug_report_edit', {'id': bug_report.id}) }}"><i
                            class="fas fa-pencil-alt"></i></a>
            </div>
        {% endif %}
        <div class="col">
            {{ include('bug_report/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
