{% extends 'base.html.twig' %}

{% block title %}{{ 'update_bug'|trans }}{% endblock %}

{% block body %}
    {{ include('bug/_back_to_list_button.html.twig') }}
    <h1>{{ 'update_bug'|trans }}</h1>

    {{ include('bug/_form.html.twig', {'button_label': 'update'|trans}) }}
    {{ include('user_request/components/_delete_form.html.twig', {userRequest: bug, action: 'bug_delete'}) }}
{% endblock %}
