{% extends 'base.html.twig' %}

{% block title %}{{ 'bugs_list'|trans }}{% endblock %}

{% block body %}
    <div {{ stimulus_controller('search') }}>
        {{ include('common/_search_form.html.twig', {form, newPath: path('bug_init'), newTitle: 'new_bug'|trans, shouldHideTags: true}) }}
        <div class="container py-3 px-4">
            <div {{ stimulus_target('search', 'container') }}>
                {{ include('bug/_list.html.twig', {bugs}) }}
            </div>
        </div>
    </div>
{% endblock %}
