{% extends 'base.html.twig' %}

{% block title %}{{ bug.title }}{% endblock %}

{% block body %}
    <div class="position-relative">
        <div class="row">
            <div class="col">
                {{ include('bug/_back_to_list_button.html.twig') }}
            </div>
            <div class="col">
                {{ include('bug/_assignee_section.html.twig', {'bug': bug}) }}
            </div>
        </div>
        <h1>{{ bug.title }}</h1>
        <table class="table">
            <tbody>
            <tr>
                <th>{{ 'title'|trans }}</th>
                <td>{{ bug.title }}</td>
            </tr>
            <tr>
                <th>{{ 'information'|trans }}</th>
                <td>{{ bug.content|raw }}</td>
            </tr>
            <tr>
                <th>{{ 'created_by'|trans }}</th>
                <td>{{ bug.user }}</td>
            </tr>
            <tr>
                <th>{{ 'taken_by'|trans }}</th>
                <td>{{ bug.assignee }}</td>
            </tr>
            <tr>
                <th>{{ 'application'|trans }}</th>
                <td>{{ bug.application }}</td>
            </tr>
            <tr>
                <th>{{ 'user_kind'|trans }}</th>
                <td>{{ bug.userKind }}</td>
            </tr>
            <tr>
                <th>{{ 'status'|trans }}</th>
                <td>{{ include('bug/_status.html.twig', {'bug': bug}) }}</td>
            </tr>
            <tr>
                <th>{{ 'creation_date'|trans }}</th>
                <td>{{ bug.createdAt ? bug.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
        {% if bug.attachementName %}
            <div class="row">
                <img class="img-fluid" src="{{ asset('uploads/'~bug.attachementName) }}" alt="Attachment"/>
            </div>
        {% endif %}
        <div class="row">
            {% if is_granted('ROLE_TECH_TEAM') %}
                <div class="col">
                    <a class="btn btn-warning" href="{{ path('bug_edit', {'id': bug.id}) }}"><i
                                class="fas fa-pencil-alt"></i></a>
                </div>
            {% endif %}
            <div class="col">
                {{ include('bug/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
