{% extends 'base.html.twig' %}

{% block title %}{{ bug.title }}{% endblock %}

{% set items_group = [
    [
        { name: 'created_by', content: bug.user },
        { name: 'creation_date', content: bug.createdAt ? bug.createdAt|date('Y-m-d H:i:s') : '' },
    ],
    [
        { name: 'title', content: bug.title },
        { name: 'url', content: bug.url },
        { name: 'accountId', content: bug.accountId },
        { name: 'information', content: bug.content },
    ],
]%}

{% set badges = [
    { content: bug.application ? include('common/_styled_entity_badge.html.twig', {entity: bug.application}) : '' },
    { content: bug.userKind ? include('common/_styled_entity_badge.html.twig', {entity: bug.userKind}) : '' },
] %}

{% block body %}
    <div class="position-relative">
        <div class="col">{{ include('user_request/components/_back_button.html.twig') }}</div>
        <h1>{{ bug.title }}</h1>
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div>
                {% for badge in badges %}
                    {{ badge.content|raw }}
                {% endfor %}
            </div>
            <div class="text-end">
                {{ include('bug/_workflow_actions.html.twig', {request: bug}) }}
                {{ include('bug/_status.html.twig', {request: bug}) }}
            </div>
        </div>
        {% for group in items_group %}
            <table class="table">
                <tbody>
                {% for item in group %}
                    <tr>
                        <th>{{ item.name|trans }}</th>
                        <td>{{ item.content|raw }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        {{ include('attachment/_list_attachments.html.twig', {'userRequest': bug}) }}
        {{ include('bug/_comments.html.twig', {bug}) }}
        <a class="btn btn-primary" href="{{ path('bug_add_comment', {id: bug.id}) }}"><i class="fa fa-add px-1"></i>{{ 'add_comment'|trans }}</a>
        {{ include('bug/_actions.html.twig', {bug}) }}
    </div>
{% endblock %}
