<div class="col-12 my-2 rounded position-relative shadow-lg btn btn-outline-light text-dark">
    <div class="row">
        <div class="col-3 col-sm-2 col-md-1 d-flex justify-content-center align-items-center">
            {{ app_icon(feature.application) }}
        </div>
        <div class="col-7 col-sm-8 col-md-9">
            {{ include('feature/components/_card_body.html.twig', {feature}) }}
            {{ include('feature/components/_tags_chips.html.twig', {feature}) }}
        </div>
        <div class="col-2 z-2">
            {{ include('common/_status.html.twig', {'isDone': feature.done, 'markDonePath' : path('feature_mark_done', {'id': feature.id})}) }}
            {{ include('feature/components/_votes.html.twig', {feature}) }}
        </div>
        <a href="{{ path('feature_show', {'id': feature.id}) }}" class="stretched-link"></a>
    </div>
</div>
