<div class="col-12 my-2 rounded position-relative shadow-lg btn btn-outline-light text-dark"
     xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-3 col-sm-2 col-md-1 d-flex justify-content-center align-items-center">
            {{ app_icon(feature.application) }}
        </div>
        <div class="col-7 col-sm-8 col-md-9">
            <div class="row">
                <div class="col">
                    <div class="text-start">
                        <span class="h5">{{ feature.title }}</span>
                    </div>
                    <div class="text-start">
                        <span class="fw-bolder text-decoration-underline">Remonté par :</span>
                        <small>{{ feature.user.userIdentifier }}</small>
                        <br/>
                        <span class="fw-bolder text-decoration-underline">Le :</span>
                        <small>{{ feature.createdAt|date("d/m/Y") }}</small>
                    </div>
                </div>
            </div>
            {{ include('feature/components/_tags_chips.html.twig', {feature}) }}
        </div>
        <div class="col-2 z-2">
            {{ include('feature/components/_votes.html.twig', {feature}) }}
        </div>
        <a href="{{ path('feature_show', {'id': feature.id}) }}" class="stretched-link"></a>
    </div>
</div>
