{{ form_start(form) }}

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-8 mt-2">
                {{ form_row(form.title) }}
            </div>
            <div class="col-4 mt-2 ">
                {{ form_row(form.application) }}
            </div>
            <div class="col-3 mt-2 ">
                {{ form_row(form.requestedBy) }}
            </div>
            <div class="col-3 mt-2 ">
                {{ form_row(form.center) }}
            </div>
            <div class="col-6 mt-2 ">
                {{ form_row(form.tags) }}
            </div>
        </div>
    </div>
</div>
<hr class="text-primary my-3">
<div class="col-12 ">
    {{ form_row(form.content) }}
</div>
{{ include('common/_form_submit.html.twig', {buttonLabel}) }}
{{ form_end(form) }}

{{ include('feature/components/_attachment_widget.html.twig', {feature}) }}
