{{ form_start(form) }}

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="form-floating">
                    {{ form_widget(form.title) }}
                    {{ form_label(form.title) }}
                </div>
            </div>
            <div class="col-12 mt-2 col-md-6 col-lg-3 mt-lg-0">
                {{ form_widget(form.application) }}
            </div>
            <div class="col-12 mt-2 col-md-6 col-lg-3 mt-lg-0">
                {{ form_widget(form.center) }}
            </div>
        </div>
    </div>
</div>
<hr class="text-primary my-3">
<div class="col-12 ">
    {{ form_row(form.content) }}
</div>
<div class="col-12 offset-sm-6 col-sm-6 offset-md-8 col-md-4 mt-3 d-flex">
    <button class="btn btn-primary btn-lg flex-grow-1">{{ button_label }}</button>
</div>
{{ form_end(form) }}
