{{ form_start(form) }}

<div class="row">
    <div class="col-12">
        <div class="row">
            {% set alignedFields = [form.title, form.application, form.center, form.requestedBy] %}
            {% for field in alignedFields %}
                <div class="col-12 mt-2 col-md-6 col-lg-3">
                    {{ form_row(field) }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr class="text-primary my-3">
<div class="col-12 ">
    {{ form_row(form.content) }}
</div>
{{ include('common/_form_submit.html.twig', {buttonLabel}) }}
{{ form_end(form) }}

{{ include('feature/components/_attachment_widget.html.twig', {feature}) }}
