{% extends 'base.html.twig' %}

{% block title %}{{ feature.title }}{% endblock %}

{% set items = [
    { name: 'title', content: feature.title },
    { name: 'status', content: is_granted('ROLE_TECH_TEAM') ? include('feature/components/_status_form.html.twig') : include('feature/components/_status.html.twig')},
    { name: 'information', content: feature.content },
    { name: 'created_by', content: feature.user },
    { name: 'application', content: feature.application },
    { name: 'center', content: feature.center },
    { name: 'creation_date', content: feature.createdAt ? feature.createdAt|date('Y-m-d H:i:s') : '' }
] %}

{% block body %}
    <div class="position-relative">
        <div class="col">{{ include('feature/components/_back_to_list_button.html.twig') }}</div>
        <h1>{{ feature.title }}</h1>
        {{ include('feature/components/_tags.html.twig', {feature, tags}) }}
        {{ include('feature/components/_information.hmtl.twig', {feature}) }}
        {{ include('feature/components/_add_tags.html.twig', {feature, tags}) }}
        {{ include('feature/components/_comments.html.twig', {feature}) }}
        <a class="btn btn-primary" href="{{ path('feature_add_comment', {id: feature.id}) }}"><i class="fa fa-add px-1"></i>{{ 'add_comment'|trans }}</a>
    </div>
{% endblock %}
