<a href="{{ path }}" class="btn btn-{{ color is defined ? color : 'success' }} btn-sm m-1"
    {% if label is defined %}
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        title="{{ label }}"
    {% endif %}
>
    {{ message is defined ? message : '' }}
    {% if icon is defined %}
        <i class="fa-solid fa-{{ icon }}"></i>
    {% endif %}
</a>
