<div class="row">
    <div class="col flex-grow-1">
        {{ form_start(form, {'attr': {'data-search-target': 'form'}}) }}
        {{ form_end(form) }}
    </div>
    <div class="mt-2 mt-sm-0 col-12 col-sm-4 col-md-4 col-lg-3 d-flex">
        <a class="btn btn-primary flex-grow-1" href="{{ newPath }}">{{ newTitle }}</a>
    </div>
    <div class="col-12 col-sm-10">
        {{ include('common/_toggle_application_buttons.html.twig', {applications}) }}
    </div>
    <div class="col-12 col-sm-2 d-flex justify-content-center align-items-center">
        {{ include('common/_toggle_done.html.twig', {done}) }}
    </div>
</div>
