<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bugsssss{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{{ include('header.html.twig') }}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ label }} text-center">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endfor %}
<div class="container mt-4">
    {% block body %}{% endblock %}
</div>
</body>
</html>
