<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('bug_index') }}">
            <img src="/favicon.png" alt="logo" class="img-fluid me-2" style="max-width: 35px;"/>
            {{ 'app_title'|trans }}
        </a>
        <a class="btn btn-light" href="https://github.com/re-connect/mpb" target="_blank"
           data-bs-toggle="tooltip" data-bs-placement="left" title="{{ 'view_code_on_github'|trans }}"
        >
            <i class="fa-brands fa-github"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="{{ not app.user ? 'd-none' : 'collapse navbar-collapse' }}" id="navbarColor01">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('bug_index') }}">
                        <i class="fas fa-triangle-exclamation me-2"></i>
                        {{ 'all_bugs'|trans }}
                        <span class="visually-hidden"></span>
                    </a>
                </li>
                {% if is_granted('ROLE_TEAM') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('features_list') }}">
                            <i class="fas fa-wand-magic-sparkles me-2"></i>
                            {{ 'all_features'|trans }}
                            <span class="visually-hidden"></span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item {{ app.user ? 'd-none' : '' }}">
                    <a class="nav-link" href="{{ path('app_login') }}">Login
                        <span class="visually-hidden"></span>
                    </a>
                </li>
                <li class="nav-item {{ app.user ? '' : 'd-none' }}">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        <i class="fas fa-sign-out-alt me-2"></i>Logout
                        <span class="visually-hidden"></span>
                    </a>
                </li>
                <li class="nav-item {{ is_granted('ROLE_ADMIN') ? '' : 'd-none' }}">
                    <a class="nav-link" href="{{ path('admin') }}">
                        <i class="fas fa-tools me-2"></i>Admin
                        <span class="visually-hidden"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
